* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-dark: hsl(210, 13%, 18%);
    --text-dark: hsl(0, 0%, 87%);

    --bg-light: hsl(0, 0%, 96%);
    --text-light: hsl(0, 0%, 40%);

    font-size: 62.5%;
}

body, html {
    height:100vh;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--text-light);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.pimg1, .pimg2, .pimg3 {
    position:relative;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    /*fixed = parallax; scroll = normal*/
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(./assets/img1.jpg);
    min-height: 100vh;
}

.pimg2 {
    background-image: url(./assets/img2.jpg);
    min-height: 40rem;
}

.pimg3 {
    background-image: url(./assets/img3.jpg);
    min-height: 40rem;
}

.section {
    text-align: center;
    padding: 5rem 8rem;
}

.section-light {
    background-color: var(--bg-light);
    color: var(--text-light);
}

.section-dark {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: var(--bg-dark);
    font-size: 2.7rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 2rem;
    line-height: 8rem;
}

@media (max-width: 568px) {
    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    } 
}
